.contact {
  display: flex;
  flex-direction: column;
  max-width: 480px;
  margin: 0 auto;
  &__text {
    margin-bottom: 2rem;
    line-height: 1.5;
  }
  &__cta {
    @media (max-width: 576px) {
      flex-direction: column;
      .btn {
        margin-bottom: 10px;
      }
    }
    display: flex;
    gap: 2%;
  }
}
