.footer {
  padding: 2rem;
  background: $color-dark;
  text-align: center;
  &__logo {
    margin-bottom: 2rem;
  }
  &__text {
    line-height: 2;
    font-size: 14px;
    color: $color-primary;
  }
}
