.reviews {
  &__list {
    margin-top: 3rem;
    list-style-type: none;
  }
  &__item {
    @media (max-width: 576px) {
      max-width: 100%;
      width: initial;
    }
    width: 360px;
    padding: 2rem;
    margin: auto;
    border: 1px solid lightgray;
    border-radius: 15px;
    margin-bottom: 2rem;
  }
  &__icon {
    width: 40px;
    float: left;
  }
  &__review {
    text-align: left;
    margin-left: 4rem;
  }
  &__author {
    color: gray;
    font-size: 14px;
  }
}
