html,
html *,
*::after,
*::before {
  padding: 0;
  margin: 0;
}

/* ubuntu-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 400;
  src: url("../../assets/fonts/ubuntu-v20-latin-regular.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* ubuntu-700 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 700;
  src: url("../../assets/fonts/ubuntu-v20-latin-700.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
body {
  font-family: "Ubuntu", sans-serif, arial;
}

h1 {
  font-size: 4rem;
}

.heading {
  font-size: 2.4rem;
}

a, a:visited, a:focus, a:focus-visible, a:active {
  color: #fafafa;
  text-decoration: none;
}

.btn {
  display: inline-block;
  padding: 1em 3em;
  border-radius: 15px;
}
.btn--filled {
  background: #00a0db;
  display: flex;
  align-items: center;
  gap: 5px;
}
.btn--filled:hover {
  background: #0a58ca;
}
.btn--outline {
  border: 1px solid #fafafa;
}
.btn--outline:hover {
  background: #fafafa;
  color: #212529;
}
.btn--outline.primary {
  border-color: #00a0db;
  color: #00a0db;
}
.btn--outline.primary:hover {
  background: #00a0db;
  color: #fafafa;
}

.nav {
  padding: 0.5rem 2%;
  background: #212529;
}
@media (min-width: 768px) {
  .nav {
    display: flex;
    align-items: center;
  }
}
.nav__logo {
  margin: 0 25%;
}
@media (min-width: 992px) {
  .nav__link {
    display: block;
    min-height: 100%;
    height: 100%;
    padding: 1em 2em;
  }
  .nav__link:hover {
    background: #00a0db;
  }
}

.hero {
  height: 100vh;
  color: #fafafa;
}
@media (min-width: 992px) {
  .hero {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
.hero__video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  z-index: -1;
  -webkit-filter: brightness(50%);
  filter: brightness(50%);
}
.hero__content {
  position: relative;
  z-index: 9;
}
.hero__content p {
  margin: 2rem auto;
}
.hero__business-info {
  line-height: 2;
}
.hero__cta {
  display: flex;
  gap: 5%;
}

.services__title {
  margin-bottom: 1rem;
}
.services__list {
  display: flex;
  flex-wrap: wrap;
  margin: 5rem auto;
  max-width: 1280px;
  gap: 2rem;
  list-style-type: none;
}
.services__item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 320px;
  padding: 2rem;
  text-align: left;
  border: 1px solid lightgray;
  border-radius: 15px;
  line-height: 1.5;
}
.services .btn {
  margin-top: 2rem;
}

.clients {
  padding: 5rem;
  background: #00a0db;
  color: #fafafa;
}
.clients__list {
  display: flex;
  gap: 2%;
  max-width: 1200px;
  margin: 3rem auto;
  list-style-type: none;
}
.clients__item {
  width: 320px;
  text-align: left;
}
.clients__icon-container {
  width: 40px;
  height: 40px;
  padding: 1rem;
  margin-bottom: 1rem;
  background: #212529;
  border-radius: 5px;
}
.clients__icon {
  height: 100%;
  width: auto;
}

.reviews__list {
  margin-top: 3rem;
  list-style-type: none;
}
.reviews__item {
  width: 360px;
  padding: 2rem;
  margin: auto;
  border: 1px solid lightgray;
  border-radius: 15px;
  margin-bottom: 2rem;
}
.reviews__icon {
  width: 40px;
}
.reviews__author {
  color: gray;
  font-size: 14px;
}

body {
  color: #212529;
  font-size: 18px;
}

section {
  padding: 2rem;
  text-align: center;
}

/*# sourceMappingURL=styles.css.map */
