.nav {
  padding: 0.5rem 2%;
  background: $color-dark;
  @media (min-width: 768px) {
    display: flex;
    align-items: center;
  }

  &__logo {
    margin: 0 25%;
  }

  &__link {
    @media (min-width: 992px) {
      display: block;
      min-height: 100%;
      height: 100%;
      padding: 1em 2em;

      &:hover {
        background: $color-primary;
      }
    }
  }
}
